XSD/ScopeSyncLayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.scopesync.co.uk/ScopeSyncLayout" xmlns:tns="http://www.scopesync.co.uk/ScopeSyncLayout">

    
    
    <complexType name="lookandfeelstype">
        <choice minOccurs="0" maxOccurs="unbounded">
            <element name="lookandfeel" type="tns:lookandfeeltype"></element>
        </choice>
    </complexType>
    
    <complexType name="lookandfeeltype">
        <all minOccurs="0" maxOccurs="1">
            <element name="colours" type="tns:lookandfeelcolourstype" minOccurs="0" maxOccurs="1"></element>
            <element name="images" type="tns:lookandfeelimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="fonts" type="tns:lookandfeelfontstype" minOccurs="0" maxOccurs="1"></element>
        </all>
        <attribute name="id" type="string" use="required"></attribute>
        <attribute name="parentid" type="string"></attribute>
    </complexType>

    <complexType name="colourstype"></complexType>


    <complexType name="defaultstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="slider" type="tns:slidertype" minOccurs="0" maxOccurs="1"></element>
            <element name="label" type="tns:labeltype" minOccurs="0" maxOccurs="1"></element>
            <element name="textbutton" type="tns:textbuttontype" minOccurs="0" maxOccurs="1"></element>
            <element name="combobox" type="tns:comboboxtype" minOccurs="0" maxOccurs="1"></element>
            <element name="component" type="tns:componenttype" minOccurs="0" maxOccurs="1"></element>
            <element name="tabbedcomponent" type="tns:tabbedcomponenttype" minOccurs="0" maxOccurs="1"></element>
            <element name="tab" type="tns:tabtype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>
    
    <complexType name="componenttype">
        <choice minOccurs="0" maxOccurs="unbounded">
        	<element name="bounds" type="tns:boundstype"></element>
        	<element name="component" type="tns:componenttype"></element>
        	<element name="slider" type="tns:slidertype"></element>
        	<element name="label" type="tns:labeltype"></element>
        	<element name="textbutton" type="tns:textbuttontype"></element>
        	<element name="tabbedcomponent"
        		type="tns:tabbedcomponenttype">
        	</element>
        	<element name="combobox" type="tns:comboboxtype"></element>
        	<element name="rectangle" type="tns:rectangletype"></element>
        	<element name="image" type="tns:imagetype"></element>
        </choice>
        <attribute name="id" type="string"></attribute>
        <attribute name="backgroundcolour" type="tns:colouridtype"></attribute>
        <attribute name="backgroundimage" type="string"></attribute>
        <attribute name="backgroundimageplacement" type="tns:rectangleplacementtype"></attribute>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <complexType name="lookandfeelcolourstype">
        <all minOccurs="0" maxOccurs="1">
	        <element name="slider" type="tns:slidercolourstype" minOccurs="0"></element>
	        <element name="label" type="tns:labelcolourstype" minOccurs="0"></element>
	        <element name="textbutton" type="tns:textbuttoncolourstype" minOccurs="0"></element>
	        <element name="tabbedcomponent" type="tns:tabbedcomponentcolourstype" minOccurs="0"></element>
	        <element name="tabbar" type="tns:tabbarcolourstype" minOccurs="0"></element>
	        <element name="texteditor" type="tns:texteditorcolourstype" minOccurs="0"></element>
	        <element name="combobox" type="tns:comboboxcolourstype" minOccurs="0"></element>
        </all>
    </complexType>

    <complexType name="slidercolourstype">
        <attribute name="backgroundcolourid" type="tns:colouridtype"></attribute>
        <attribute name="thumbcolourid" type="tns:colouridtype"></attribute>
        <attribute name="trackcolourid" type="tns:colouridtype"></attribute>
        <attribute name="rotarysliderfillcolourid" type="tns:colouridtype"></attribute>
        <attribute name="rotaryslideroutlinecolourid" type="tns:colouridtype"></attribute>
        <attribute name="textboxtextcolourid" type="tns:colouridtype"></attribute>
        <attribute name="textboxbackgroundcolourid" type="tns:colouridtype"></attribute>
        <attribute name="textboxhighlightcolourid" type="tns:colouridtype"></attribute>
        <attribute name="textboxoutlinecolourid" type="tns:colouridtype"></attribute>
    </complexType>
    
    <complexType name="labelcolourstype">
        <attribute name="backgroundcolourid" type="tns:colouridtype"></attribute>
        <attribute name="textcolourid" type="tns:colouridtype"></attribute>
        <attribute name="outlinecolourid" type="tns:colouridtype"></attribute>
    </complexType>

    <complexType name="texteditorcolourstype">
        <attribute name="backgroundcolourid" type="tns:colouridtype"></attribute>
        <attribute name="textcolourid" type="tns:colouridtype"></attribute>
        <attribute name="highlightcolourid" type="tns:colouridtype"></attribute>
        <attribute name="highlightedtextcolourid" type="tns:colouridtype"></attribute>
        <attribute name="outlinecolourid" type="tns:colouridtype"></attribute>
        <attribute name="focusedoutlinecolourid" type="tns:colouridtype"></attribute>
        <attribute name="shadowcolourid" type="tns:colouridtype"></attribute>
    </complexType>

    <complexType name="tabbedcomponentcolourstype">
        <attribute name="outlinecolourid" type="tns:colouridtype"></attribute>
        <attribute name="backgroundcolourid" type="tns:colouridtype"></attribute>
    </complexType>

    <complexType name="textbuttoncolourstype">
        <attribute name="buttoncolourid" type="tns:colouridtype"></attribute>
        <attribute name="buttononcolourid" type="tns:colouridtype"></attribute>
        <attribute name="textcolouroffid" type="tns:colouridtype"></attribute>
        <attribute name="textcolouronid" type="tns:colouridtype"></attribute>
    </complexType>

    <complexType name="tabbarcolourstype">
        <attribute name="taboutlinecolourid" type="tns:colouridtype"></attribute>
        <attribute name="tabtextcolourid" type="tns:colouridtype"></attribute>
        <attribute name="frontoutlinecolourid" type="tns:colouridtype"></attribute>
        <attribute name="fronttextcolourid" type="tns:colouridtype"></attribute>
    </complexType>
    
    <simpleType name="colouridtype">
        <restriction base="string">
            <length value="8"></length>
            <whiteSpace value="collapse"></whiteSpace>
            <pattern value="[0-9A-Fa-f]+"></pattern>
        </restriction>
    </simpleType>

    <complexType name="lookandfeelimagestype">
        <all minOccurs="0" maxOccurs="1">
            <element name="slider" type="tns:sliderimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="textbutton" type="tns:textbuttonimagestype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="sliderimagestype">
        <all minOccurs="0" maxOccurs="1">
            <element name="rotary" type="tns:sliderrotaryimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="linearhorizontal" type="tns:sliderlinearimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="linearvertical" type="tns:sliderlinearimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="textbutton" type="tns:textbuttonimagestype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="sliderrotaryimagestype">
    	<attribute name="filename" type="string"></attribute>
        <attribute name="mouseoverfilename" type="string"></attribute>
        <attribute name="numframes" type="int"></attribute>
    	<attribute name="ishorizontal" type="boolean"></attribute>
    </complexType>

    <complexType name="sliderlinearimagestype">
        <attribute name="thumbfilename" type="string"></attribute>
        <attribute name="thumbborder" type="int"></attribute>
        <attribute name="backgroundfilename" type="string"></attribute>
        <attribute name="backgroundnumframes" type="int"></attribute>
        <attribute name="backgroundishorizontal" type="boolean"></attribute>
    </complexType>

    <complexType name="textbuttonimagestype">
        <attribute name="upfilename" type="string"></attribute>
        <attribute name="downfilename" type="string"></attribute>
        <attribute name="mouseoverupfilename" type="string"></attribute>
        <attribute name="mouseoverdownfilename" type="string"></attribute>
    </complexType>

    <complexType name="comboboxcolourstype">
        <attribute name="backgroundcolourid" type="tns:colouridtype"></attribute>
        <attribute name="textcolourid" type="tns:colouridtype"></attribute>
        <attribute name="outlinecolourid" type="tns:colouridtype"></attribute>
        <attribute name="buttoncolourid" type="tns:colouridtype"></attribute>
        <attribute name="arrowcolourid" type="tns:colouridtype"></attribute>
    </complexType>

    <simpleType name="rectangleplacementtype">
        <restriction base="string">
            <enumeration value="xleft"></enumeration>
            <enumeration value="xright"></enumeration>
            <enumeration value="xmid"></enumeration>
            <enumeration value="ytop"></enumeration>
            <enumeration value="ybottom"></enumeration>
            <enumeration value="ymid"></enumeration>
            <enumeration value="stretchtofit"></enumeration>
            <enumeration value="filldestination"></enumeration>
            <enumeration value="onlyreduceinsize"></enumeration>
            <enumeration value="onlyincreaseinsize"></enumeration>
            <enumeration value="donotresize"></enumeration>
            <enumeration value="centred"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="tabbedcomponenttype">
        <choice minOccurs="0" maxOccurs="unbounded">
            <element name="bounds" type="tns:boundstype"></element>
            <element name="tabbar" type="tns:tabbartype"></element>
            <element name="tab" type="tns:tabtype"></element>
        </choice>
        <attribute name="name" type="string"></attribute>
        <attribute name="id" type="string"></attribute>
        <attribute name="showdropshadow" type="boolean"></attribute>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <complexType name="tabbartype">
        <attribute name="orientation" type="tns:tabbarorientationtype"></attribute>
        <attribute name="depth" type="int"></attribute>
    </complexType>

    <simpleType name="tabbarorientationtype">
        <restriction base="string">
            <enumeration value="bottom"></enumeration>
            <enumeration value="left"></enumeration>
            <enumeration value="right"></enumeration>
            <enumeration value="top"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="labeltype">
    	<all minOccurs="0" maxOccurs="1">
    		<element name="bounds" type="tns:boundstype"></element>
    		<element name="font" type="tns:fonttype" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="justification" type="tns:justificationtype"
    			minOccurs="0" maxOccurs="1">
    		</element>
    	</all>        <attribute name="name" type="string"></attribute>
        <attribute name="id" type="string"></attribute>
        <attribute name="text" type="string"></attribute>
    	<attribute name="lfid" type="string"></attribute>
    	<attribute name="displaycontext"
    		type="tns:displaycontexttype">
    	</attribute>
    </complexType>

    <complexType name="fonttype">
        <attribute name="height" type="float"></attribute>
        <attribute name="bold" type="boolean"></attribute>
        <attribute name="italic" type="boolean"></attribute>
        <attribute name="underlined" type="boolean"></attribute>
    </complexType>

    <complexType name="justificationtype">
        <attribute name="left" type="boolean"></attribute>
        <attribute name="right" type="boolean"></attribute>
        <attribute name="horizontallycentred" type="boolean"></attribute>
        <attribute name="top" type="boolean"></attribute>
        <attribute name="bottom" type="boolean"></attribute>
        <attribute name="verticallycentred" type="boolean"></attribute>
        <attribute name="horizontallyjustified" type="boolean"></attribute>
    </complexType>

    <complexType name="slidertype">
        <choice minOccurs="1" maxOccurs="unbounded">
        	<element name="bounds" type="tns:boundstype"></element>
        	<element name="range" type="tns:sliderrangetype"></element>
        	<element name="textbox" type="tns:slidertextboxtype"></element>
        	<element name="choosetab" type="tns:choosetabtype"></element>
        </choice>
        
        <attribute name="name" type="string"></attribute>
        <attribute name="id" type="string"></attribute>
        <attribute name="popupenabled" type="boolean"></attribute>
        <attribute name="velocitybasedmode" type="boolean"></attribute>
        <attribute name="encodersnap" type="boolean"></attribute>
        <attribute name="style" type="tns:sliderstyletype"></attribute>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <simpleType name="sliderstyletype">
        <restriction base="string"></restriction>
    </simpleType>

    <complexType name="sliderrangetype">
        <attribute name="min" type="double"></attribute>
        <attribute name="max" type="double"></attribute>
        <attribute name="int" type="double"></attribute>
    </complexType>
    
    <complexType name="slidertextboxtype">
        <all minOccurs="0" maxOccurs="1">
            <element name="font" type="tns:fonttype" minOccurs="0" maxOccurs="1"></element>
            <element name="justification" type="tns:justificationtype" minOccurs="0" maxOccurs="1"></element>
        </all>
        <attribute name="position" type="tns:slidertextboxpositiontype"></attribute>
        <attribute name="readonly" type="boolean"></attribute>
        <attribute name="width" type="int"></attribute>
        <attribute name="height" type="int"></attribute>
    </complexType>

    <simpleType name="slidertextboxpositiontype">
        <restriction base="string">
            <enumeration value="none"></enumeration>
            <enumeration value="left"></enumeration>
            <enumeration value="right"></enumeration>
            <enumeration value="above"></enumeration>
            <enumeration value="below"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="textbuttontype">
        <choice minOccurs="1" maxOccurs="unbounded">
            <element name="bounds" type="tns:boundstype"></element>
            <element name="choosetab" type="tns:choosetabtype"></element>
        </choice>
        <attribute name="name" type="string"></attribute>
        <attribute name="id" type="string"></attribute>
        <attribute name="text" type="string"></attribute>
        <attribute name="tooltip" type="string"></attribute>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="radiogroup" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <complexType name="choosetabtype">
        <attribute name="tabbedcomponent">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"></minLength>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="tabname">
            <simpleType>
                <restriction base="string">
                    <minLength value="1"></minLength>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="comboboxtype">
        <choice minOccurs="1" maxOccurs="unbounded">
            <element name="justification" type="tns:justificationtype"></element>
            <element name="bounds" type="tns:boundstype"></element>
            <element name="font" type="tns:fonttype"></element>
            <element name="item" type="string"></element>
        </choice>
        <attribute name="name" type="string"></attribute>
		<attribute name="id" type="string"></attribute>
        <attribute name="tooltip" type="string"></attribute>
		<attribute name="editabletext" type="boolean"></attribute>
		<attribute name="nothingselectedtext" type="string"></attribute>
		<attribute name="nochoicestext" type="string"></attribute>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <complexType name="lookandfeelfontstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="popupmenu" type="tns:fonttype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="tabtype">
        <all minOccurs="0" maxOccurs="1">
            <element name="component" type="tns:componenttype"></element>
        </all>
        <attribute name="name" type="string"></attribute>
        <attribute name="idx">
        	<simpleType>
        		<restriction base="int">
        			<minInclusive value="-1"></minInclusive>
        		</restriction>
        	</simpleType>
        </attribute>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <element name="ScopeSyncLayout">
        <complexType>
            <all>
                <element name="layout" type="tns:layouttype"></element>
            </all>
        </complexType>
    </element>

    <complexType name="layouttype">
        <sequence>
            <element name="lookandfeels" type="tns:lookandfeelstype" minOccurs="0" maxOccurs="1"></element>
            <element name="defaults" type="tns:defaultstype" minOccurs="0" maxOccurs="1"></element>
            <element name="component" type="tns:componenttype" minOccurs="0" maxOccurs="1"></element>
        </sequence>
    </complexType>

    <simpleType name="displaycontexttype">
        <restriction base="string">
            <enumeration value="host"></enumeration>
            <enumeration value="scope"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="boundstype">
    	<choice minOccurs="0">
    		<element name="bordersize" type="tns:bordersizetype"></element>
    	</choice>
    	<attribute name="x" type="int"></attribute>
    	<attribute name="y" type="int"></attribute>
    	<attribute name="width" type="int"></attribute>
    	<attribute name="height" type="int"></attribute>
        <attribute name="relativerectangle" type="string"></attribute>
    </complexType>

    <complexType name="bordersizetype">
    	<attribute name="top" type="int"></attribute>
    	<attribute name="left" type="int"></attribute>
    	<attribute name="bottom" type="int"></attribute>
    	<attribute name="right" type="int"></attribute>
    </complexType>

    <complexType name="rectangletype">
    	<sequence>
    		<element name="bounds" type="tns:boundstype"></element>
    	</sequence>
    	<attribute name="cornersize">
	        <simpleType>
                <restriction base="float">
                    <minInclusive value="0.0"></minInclusive>
                    <maxInclusive value="200.0"></maxInclusive>
                </restriction>
            </simpleType>
        </attribute>
    	<attribute name="fillcolour" type="tns:colouridtype"></attribute>
    	<attribute name="outlinethickness">
    	   <simpleType>
                <restriction base="float">
                    <minInclusive value="0.0"></minInclusive>
                    <maxInclusive value="200.0"></maxInclusive>
                </restriction>
            </simpleType>
        </attribute>
    	<attribute name="outlinecolour" type="tns:colouridtype"></attribute>
    </complexType>

    <complexType name="imagetype">
    	<sequence>
    		<element name="bounds" type="tns:boundstype"></element>
    	</sequence>

        <attribute name="filename" type="tns:filenametype" use="required"></attribute>
        <attribute name="stretchmode" type="tns:stretchmodetype"></attribute>
    	<attribute name="opacity">
    	   <simpleType>
                <restriction base="float">
                    <minInclusive value="0.0"></minInclusive>
                    <maxInclusive value="1.0"></maxInclusive>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <simpleType name="stretchmodetype">
    	<restriction base="string">
    		<enumeration value="stretchedtofit"></enumeration>
    		<enumeration value="maintainaspect"></enumeration>
    		<enumeration value="maintainspectonlyreduce"></enumeration>
    	</restriction>
    </simpleType>

    <simpleType name="filenametype">
    	<restriction base="string">
    		<minLength value="1"></minLength>
    	</restriction>
    </simpleType>

</schema>