XSD/ScopeSyncLayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.scopesync.co.uk/ScopeSyncLayout" xmlns:tns="http://www.scopesync.co.uk/ScopeSyncLayout">

    
    
    <complexType name="lookandfeelstype">
        <choice minOccurs="0" maxOccurs="unbounded">
            <element name="lookandfeel" type="tns:lookandfeeltype"></element>
        </choice>
    </complexType>
    
    <complexType name="lookandfeeltype">
        <all minOccurs="0" maxOccurs="1">
            <element name="colours" type="tns:lookandfeelcolourstype" minOccurs="0" maxOccurs="1"></element>
            <element name="images" type="tns:lookandfeelimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="fonts" type="tns:lookandfeelfontstype" minOccurs="0" maxOccurs="1"></element>
        </all>
        <attribute name="id" type="string" use="required"></attribute>
        <attribute name="parentid" type="string"></attribute>
    </complexType>

    <complexType name="colourstype"></complexType>


    <complexType name="defaultstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="slider" type="tns:slidertype" minOccurs="0" maxOccurs="1"></element>
            <element name="label" type="tns:labeltype" minOccurs="0" maxOccurs="1"></element>
            <element name="textbutton" type="tns:textbuttontype" minOccurs="0" maxOccurs="1"></element>
            <element name="combobox" type="tns:comboboxtype" minOccurs="0" maxOccurs="1"></element>
            <element name="component" type="tns:componenttype" minOccurs="0" maxOccurs="1"></element>
            <element name="tabbedcomponent" type="tns:tabbedcomponenttype" minOccurs="0" maxOccurs="1"></element>
            <element name="tab" type="tns:tabtype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>
    
    <complexType name="componenttype">
        <choice minOccurs="0" maxOccurs="unbounded">
            <element name="size" type="tns:sizetype"></element>
            <element name="position" type="tns:positiontype"></element>
            <element name="backgroundcolour" type="tns:colouridtype"></element>
            <element name="backgroundimage" type="string"></element>
            <element name="backgroundimageplacement" type="tns:rectangleplacementtype"></element>
            <element name="component" type="tns:componenttype"></element>
            <element name="slider" type="tns:slidertype"></element>
            <element name="label" type="tns:labeltype"></element>
            <element name="textbutton" type="tns:textbuttontype"></element>
            <element name="tabbedcomponent" type="tns:tabbedcomponenttype"></element>
            <element name="combobox" type="tns:comboboxtype"></element>
        </choice>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <complexType name="lookandfeelcolourstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="slider" type="tns:slidercolourstype" minOccurs="0" maxOccurs="1"></element>
            <element name="label" type="tns:labelcolourstype" minOccurs="0" maxOccurs="1"></element>
            <element name="textbutton" type="tns:textbuttoncolourstype" minOccurs="0" maxOccurs="1"></element>
            <element name="tabbedcomponent" type="tns:tabbedcomponentcolourstype" minOccurs="0" maxOccurs="1"></element>
            <element name="tabbar" type="tns:tabbarcolourstype" minOccurs="0" maxOccurs="1"></element>
            <element name="texteditor" type="tns:texteditorcolourstype" minOccurs="0" maxOccurs="1"></element>
            <element name="combobox" type="tns:comboboxcolourstype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="slidercolourstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="backgroundcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="thumbcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="trackcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="rotarysliderfillcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="rotaryslideroutlinecolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="textboxtextcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="textboxbackgroundcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="textboxhighlightcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="textboxoutlinecolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>
    
    <complexType name="labelcolourstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="backgroundcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="textcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="outlinecolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="texteditorcolourstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="backgroundcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="textcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="highlightcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="highlightedtextcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="outlinecolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="focusedoutlinecolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="shadowcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="tabbedcomponentcolourstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="outlinecolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="backgroundcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="textbuttoncolourstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="buttoncolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="buttononcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="textcolouroffid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="textcolouronid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="tabbarcolourstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="taboutlinecolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="tabtextcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="frontoutlinecolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="fronttextcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1">
            </element>
        </all>
    </complexType>
    
    <simpleType name="colouridtype">
        <restriction base="string">
            <length value="8"></length>
            <whiteSpace value="collapse"></whiteSpace>
            <pattern value="[0-9A-Fa-f]+"></pattern>
        </restriction>
    </simpleType>

    <complexType name="lookandfeelimagestype">
        <all minOccurs="0" maxOccurs="1">
            <element name="slider" type="tns:sliderimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="textbutton" type="tns:textbuttonimagestype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="sliderimagestype">
        <all minOccurs="0" maxOccurs="1">
            <element name="rotary" type="tns:sliderrotaryimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="linearhorizontal" type="tns:sliderlinearimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="linearvertical" type="tns:sliderlinearimagestype" minOccurs="0" maxOccurs="1"></element>
            <element name="textbutton" type="tns:textbuttonimagestype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="sliderrotaryimagestype">
        <all minOccurs="0" maxOccurs="1">
            <element name="filename" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="numframes" type="int" minOccurs="0" maxOccurs="1"></element>
            <element name="ishorizontal" type="boolean" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="sliderlinearimagestype">
        <all minOccurs="0" maxOccurs="1">
            <element name="thumbfilename" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="thumbborder" type="int" minOccurs="0" maxOccurs="1"></element>
            <element name="backgroundfilename" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="backgroundnumframes" type="int" minOccurs="0" maxOccurs="1"></element>
            <element name="backgroundishorizontal" type="boolean" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>


    <complexType name="textbuttonimagestype">
        <all minOccurs="0" maxOccurs="1">
            <element name="upfilename" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="downfilename" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="mouseoverupfilename" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="mouseoverdownfilename" type="string" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="comboboxcolourstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="backgroundcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="textcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="outlinecolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="buttoncolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
            <element name="arrowcolourid" type="tns:colouridtype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="sizetype">
        <all minOccurs="0" maxOccurs="1">
            <element name="width" type="int"></element>
            <element name="height" type="int"></element>
        </all>
    </complexType>

    <complexType name="positiontype">
        <all minOccurs="0" maxOccurs="1">
            <element name="x" type="int"></element>
            <element name="y" type="int"></element>
        </all>
    </complexType>


    <simpleType name="rectangleplacementtype">
        <restriction base="string">
            <enumeration value="xleft"></enumeration>
            <enumeration value="xright"></enumeration>
            <enumeration value="xmid"></enumeration>
            <enumeration value="ytop"></enumeration>
            <enumeration value="ybottom"></enumeration>
            <enumeration value="ymid"></enumeration>
            <enumeration value="stretchtofit"></enumeration>
            <enumeration value="filldestination"></enumeration>
            <enumeration value="onlyreduceinsize"></enumeration>
            <enumeration value="onlyincreaseinsize"></enumeration>
            <enumeration value="donotresize"></enumeration>
            <enumeration value="centred"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="tabbedcomponenttype">
        <choice minOccurs="0" maxOccurs="unbounded">
            <element name="name" type="string"></element>
            <element name="showdropshadow" type="boolean"></element>
            <element name="position" type="tns:positiontype"></element>
            <element name="size" type="tns:sizetype"></element>
            <element name="tabbar" type="tns:tabbartype"></element>
            <element name="tab" type="tns:tabtype"></element>
        </choice>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <complexType name="tabbartype">
        <all minOccurs="0" maxOccurs="1">
            <element name="orientation" type="tns:tabbarorientationtype" minOccurs="0" maxOccurs="1"></element>
            <element name="depth" type="int" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <simpleType name="tabbarorientationtype">
        <restriction base="string">
            <enumeration value="bottom"></enumeration>
            <enumeration value="left"></enumeration>
            <enumeration value="right"></enumeration>
            <enumeration value="top"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="labeltype">
        <all minOccurs="0" maxOccurs="1">
            <element name="name" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="text" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="position" type="tns:positiontype" minOccurs="0" maxOccurs="1"></element>
            <element name="size" type="tns:sizetype" minOccurs="0" maxOccurs="1"></element>
            <element name="font" type="tns:fonttype" minOccurs="0" maxOccurs="1"></element>
            <element name="justification" type="tns:justificationtype" minOccurs="0" maxOccurs="1"></element>
        </all>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <complexType name="fonttype">
        <all minOccurs="0" maxOccurs="1">
            <element name="height" type="float" minOccurs="0" maxOccurs="1"></element>
        </all>
        <attribute name="bold" type="boolean"></attribute>
        <attribute name="italic" type="boolean"></attribute>
        <attribute name="underlined" type="boolean"></attribute>
    </complexType>

    <complexType name="justificationtype">
        <attribute name="left" type="boolean"></attribute>
        <attribute name="right" type="boolean"></attribute>
        <attribute name="horizontallycentred" type="boolean"></attribute>
        <attribute name="top" type="boolean"></attribute>
        <attribute name="bottom" type="boolean"></attribute>
        <attribute name="verticallycentred" type="boolean"></attribute>
        <attribute name="horizontallyjustified" type="boolean"></attribute>
    </complexType>

    <complexType name="slidertype">
        <all minOccurs="0" maxOccurs="1">
            <element name="name" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="popupenabled" type="boolean" minOccurs="0" maxOccurs="1"></element>
            <element name="velocitybasedmode" type="boolean" minOccurs="0" maxOccurs="1"></element>
            <element name="encodersnap" type="boolean" minOccurs="0" maxOccurs="1"></element>
            <element name="position" type="tns:positiontype" minOccurs="0" maxOccurs="1"></element>
            <element name="size" type="tns:sizetype" minOccurs="0" maxOccurs="1"></element>
            <element name="style" type="tns:sliderstyletype" minOccurs="0" maxOccurs="1"></element>
            <element name="range" type="tns:sliderrangetype" minOccurs="0" maxOccurs="1"></element>
            <element name="textbox" type="tns:slidertextboxtype" minOccurs="0" maxOccurs="1"></element>
        </all>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <simpleType name="sliderstyletype">
        <restriction base="string"></restriction>
    </simpleType>

    <complexType name="sliderrangetype">
        <all minOccurs="0" maxOccurs="1">
            <element name="min" type="double" minOccurs="0" maxOccurs="1"></element>
            <element name="max" type="double" minOccurs="0" maxOccurs="1"></element>
            <element name="int" type="double" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>
    
    <complexType name="slidertextboxtype">
        <all minOccurs="0" maxOccurs="1">
            <element name="position" type="tns:slidertextboxpositiontype" minOccurs="0" maxOccurs="1"></element>
            <element name="readonly" type="boolean" minOccurs="0" maxOccurs="1"></element>
            <element name="size" type="tns:sizetype" minOccurs="0" maxOccurs="1"></element>
            <element name="font" type="tns:fonttype" minOccurs="0" maxOccurs="1"></element>
            <element name="justification" type="tns:justificationtype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <simpleType name="slidertextboxpositiontype">
        <restriction base="string">
            <enumeration value="none"></enumeration>
            <enumeration value="left"></enumeration>
            <enumeration value="right"></enumeration>
            <enumeration value="above"></enumeration>
            <enumeration value="below"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="textbuttontype">
        <all minOccurs="0" maxOccurs="1">
            <element name="name" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="text" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="tooltip" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="position" type="tns:positiontype" minOccurs="0" maxOccurs="1"></element>
            <element name="size" type="tns:sizetype" minOccurs="0" maxOccurs="1"></element>
            <element name="choosetab" type="tns:choosetabtype" minOccurs="0" maxOccurs="1"></element>
        </all>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="radiogroup" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <complexType name="choosetabtype">
        <all>
            <element name="tabbedcomponent">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                    </restriction>
                </simpleType>
            </element>
            <element name="tabname">
                <simpleType>
                    <restriction base="string">
                        <minLength value="1"></minLength>
                    </restriction>
                </simpleType>
            </element>
        </all>
    </complexType>

    <complexType name="comboboxtype">
        <choice minOccurs="1" maxOccurs="unbounded">
            <element name="name" type="string"></element>
            <element name="tooltip" type="string"></element>
            <element name="editabletext" type="boolean"></element>
            <element name="nothingselectedtext" type="string"></element>
            <element name="nochoicestext" type="string"></element>
            <element name="justification" type="tns:justificationtype"></element>
            <element name="position" type="tns:positiontype"></element>
            <element name="size" type="tns:sizetype"></element>
            <element name="font" type="tns:fonttype"></element>
            <element name="item" type="string"></element>
        </choice>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <complexType name="lookandfeelfontstype">
        <all minOccurs="0" maxOccurs="1">
            <element name="popupmenu" type="tns:fonttype" minOccurs="0" maxOccurs="1"></element>
        </all>
    </complexType>

    <complexType name="tabtype">
        <all minOccurs="0" maxOccurs="1">
            <element name="name" type="string" minOccurs="0" maxOccurs="1"></element>
            <element name="idx" minOccurs="0" maxOccurs="1">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="-1"></minInclusive>
                    </restriction>
                </simpleType>
            </element>
            <element name="component" type="tns:componenttype" minOccurs="0" maxOccurs="1"></element>
        </all>
        <attribute name="lfid" type="string"></attribute>
        <attribute name="displaycontext" type="tns:displaycontexttype"></attribute>
    </complexType>

    <element name="ScopeSyncLayout">
        <complexType>
            <all>
                <element name="layout" type="tns:layouttype"></element>
            </all>
        </complexType>
    </element>

    <complexType name="layouttype">
        <sequence>
            <element name="lookandfeels" type="tns:lookandfeelstype" minOccurs="0" maxOccurs="1"></element>
            <element name="defaults" type="tns:defaultstype" minOccurs="0" maxOccurs="1"></element>
            <element name="component" type="tns:componenttype" minOccurs="0" maxOccurs="1"></element>
        </sequence>
    </complexType>

    <simpleType name="displaycontexttype">
        <restriction base="string">
            <enumeration value="host"></enumeration>
            <enumeration value="scope"></enumeration>
        </restriction>
    </simpleType>
</schema>